<!DOCTYPE html>
<html>
  <head>
    <title>
      Student Portal
    </title>
  </head>
  <body>
    <h1>Welcome to the Student Portal!</h1>

    <!-- <div id="student-btn">
      <button>Student</button>
    </div> -->
    <!-- <div id="teacher-btn">
      <button>Teacher</button>
    </div> -->
    <form action="students">
      <input type="submit" value="Student"/>
    </form>
    <form action="students/findStudents">
      <p> Find students for specific student</p>
      <input id="tchr-id" type="text" placeholder="Enter teacher's ID">
      <input type="submit" value="Search"/>
    </form>
    <form action="teachers">
      <input type="submit" value="Teacher"/>
    </form>
    
    <script src="../studentRoute.js"></script>
  </body>
</html>
